//尺寸
$wd-left-menu:220px;
$wd-left-menu-collapse:76px;
$ht-header:76px;
//颜色
$clr-bg-left-menu:#324157;
$clr-bg-top-menu:#324157;
$clr-header: #fff;
$clr-border:#eff1f2;
$clr-primary: #6e67ce;
$clr-primary-light: #8488ac;
$clr-success: #13ce66;
$clr-warning: #f7ba2a;
$clr-danger: red;
$clr-info: #50bfff;
$clr-block:#313449;
$clr-bg:#f7f8f9;
