@import './vars.scss';
@import './mixins/common.scss';
.pt-checkbox {
    display: inline-block;
    position: relative;
    vertical-align: middle;
    user-select: none;
    &.disabled {
        cursor: no-drop;
    }
    &:not(.disabled) {
        cursor: pointer;
    }
    &.focus:not(.disabled) {
        >.pt-checkbox-control {
            box-shadow: 0 0 1px 1px rgba($choose-br, .3);
        }
    }
    &.checked,
    &.checked.focus {
        >.pt-checkbox-control {
            border-color: $choose-br-hover;
            &:before,
            &:after {
                opacity: 1;
            }
        }
    }
    &.checked.disabled {
        >.pt-checkbox-control {
            border-color: $gray-500;
            &:before {
                background: $gray-500;
            }
        }
    }
    .pt-checkbox-real {
        display: inline-block;
        opacity: 0;
        width: 1px;
        height: 1px;
        line-height: 0;
        font-size: 0;
        &:hover,
        &:active,
        &:focus {
            outline: none;
        }
    }
    .pt-checkbox-control,
    .pt-checkbox-content {
        display: inline-block;
        vertical-align: middle;
    }
    .pt-checkbox-control {
        position: relative;
        width: $choose-control-size;
        height: $choose-control-size;
        border-radius: $choose-control-size / 6;
        border: 1px solid $choose-br;
        &:before,
        &:after {
            content: '';
            opacity: 0;
            display: inline-block;
            position: absolute;
            transition: $choose-show-transition;
        }
        &:before {
            top: 0;
            left: 0;
            bottom: 0;
            right: 0;
            background: $choose-br-hover;
        }
        &:after {
            width: $choose-control-size/3.6;
            height: $choose-control-size/1.8;
            border: 2px solid $white;
            border-top: none;
            border-left: none;
            top: 50%;
            left: 50%;
            transform: translateX(-50%) translateY(-50%) rotate(45deg);
        }
    }
}

.pt-checkbox+.pt-checkbox {
    margin-left: 0.5rem;
}