@import './vars.scss';
@import './mixins/common.scss';
.pt-menu {
    font-size: 1rem;
    background: $white;
    display: inline-block;
    width:100%;
    a {
        color: inherit;
        text-decoration: none;
        &:hover,
        &:focus,
        &:active {
            text-decoration: none;
        }
    }
    &.pt-is-collapsed {
        width: auto;
        .pt-menu-core>.pt-menu-title {
            display: none;
        }
        .pt-menu-core>.pt-menu-icon {
            margin-right: 0;
        }
    }
}

.pt-sub-menu {
    background: inherit;
    position: relative;
}

.pt-menu-list {
    list-style: none;
    margin: 0;
    padding: 0;
    background: inherit;
    z-index: 5;
}

.pt-menu-left {
    text-align: left;
}

.pt-menu-right {
    text-align: right;
}

.pt-menu-center {
    text-align: center;
}

.pt-menu-horizontal {
    @include clearfix;
    >.pt-sub-menu,
    >.pt-menu-item,
    >.pt-menu-item-group {
        float: left;
    }
}

.pt-menu-placement-left>.pt-menu-list,
.pt-menu-placement-right>.pt-menu-list {
    position: absolute;
    top: 0;
    box-shadow: 0 3px 10px rgba(0, 0, 0, .1);
}

.pt-menu-placement-left>.pt-menu-list {
    right: 100%;
}

.pt-menu-placement-right>.pt-menu-list {
    left: 100%;
}

.pt-menu-horizontal>.pt-menu-placement-bottom>.pt-menu-list {
    position: absolute;
    top: 100%;
    box-shadow: 0 3px 10px rgba(0, 0, 0, .1);
}

.pt-menu-horizontal>.pt-menu-placement-top>.pt-menu-list {
    position: absolute;
    bottom: 100%;
    box-shadow: 0 3px 10px rgba(0, 0, 0, .1);
}

.pt-menu-vertical {
    .pt-menu-space{
        padding-left: 20px;
    }
}

.pt-menu-item-group {
    background: inherit;
    >.pt-menu-core {
        font-size: .8em;
        color: $gray-400;
        text-align: left;
        padding: $spacer * 0.6 $spacer;
    }
}

.pt-menu-item {
    list-style: none;
    &.pt-disabled {}
}

$iconSpacer:$spacer * 0.5;
$arrowSize:$iconSpacer;
.pt-menu-core {
    display: block;
    width: 100%;
    position: relative;
    white-space: nowrap;
    line-height: 1;
    padding: $spacer;
    border: 1px solid transparent;
    transition: all .6s;
    padding-right: (2 * $spacer) + $arrowSize;
    >.pt-menu-icon,
    >.pt-menu-title {
        cursor: inherit;
    }
    >.pt-menu-icon {
        margin-right: $iconSpacer;
    }
}

.pt-menu-arrow {
    display: inline-block;
    vertical-align: middle;
    width: $arrowSize;
    height: $arrowSize;
    border: 1px solid #333;
    transition: all .2s ease;
    position: absolute;
    right: $spacer;
    top: 50%;
}

.pt-menu-placement-bottom {
    >.pt-menu-core {
        >.pt-menu-arrow {
            border-top: none;
            border-left: none;
            transform: translateY(-50%) rotate(45deg);
        }
    }
    &.pt-is-open>.pt-menu-core {
        >.pt-menu-arrow {
            transform: translateY(0) rotate(-135deg);
        }
    }
}

.pt-menu-placement-top {
    >.pt-menu-core {
        >.pt-menu-arrow {
            border-bottom: none;
            border-right: none;
            transform: translateY(0) rotate(45deg);
        }
    }
    &.pt-is-open>.pt-menu-core {
        >.pt-menu-arrow {
            transform: translateY(-50%) rotate(-135deg);
        }
    }
}

.pt-menu-placement-left {
    >.pt-menu-core {
        >.pt-menu-arrow {
            border-top: none;
            border-right: none;
            transform: translateY(-50%) rotate(45deg);
        }
    }
    &.pt-is-open>.pt-menu-core {
        >.pt-menu-arrow {
            transform: translateY(-50%) rotate(-135deg);
        }
    }
}

.pt-menu-placement-right {
    >.pt-menu-core {
        >.pt-menu-arrow {
            border-bottom: none;
            border-left: none;
            transform: translateY(-50%) rotate(45deg);
        }
    }
    &.pt-is-open>.pt-menu-core {
        >.pt-menu-arrow {
            transform: translateY(-50%) rotate(-135deg);
        }
    }
}

.pt-menu-item,
.pt-sub-menu {
    &.pt-disabled>.pt-menu-core {
        cursor: no-drop;
    }
    &:not(.pt-disabled)>.pt-menu-core {
        cursor: pointer;
    }
}

.pt-sub-menu.pt-is-open {
    >.pt-menu-core {
        background: rgba($color: #000000, $alpha: .05);
    }
}

.pt-menu-item.pt-disabled {
    >.pt-menu-core {
        cursor: no-drop;
        color: #ccc;
    }
}

.pt-menu-item.pt-active {
    >.pt-menu-core {
        background: $primary;
        color: #fff;
    }
}

.pt-sub-menu:not(.pt-is-open):not(.pt-disabled)>.pt-menu-core,
.pt-menu-item:not(.pt-active):not(.pt-disabled)>.pt-menu-core {
    &:hover {
        background: rgba($color: #000000, $alpha: .05);
    }
}
