@import './vars.scss';
@import './mixins/common.scss';
.pt-tabs {
    display: block;
}

.pt-tab-labels {
    display: block;
}

.pt-tab-label {
    display: inline-block;
    padding: 10px 15px;
    &:not(.distabled):not(.active) {
        cursor: pointer;
    }
    &.active {
        background: red;
    }
}

.pt-tab {
    display: none;
    &.active {
        display: block;
    }
}

.pt-tabs-left,
.pt-tabs-right {
    display: table;
    width: 100%;
    .pt-tab-labels,
    .pt-tab-panels {
        display: table-cell;
        white-space: nowrap;
    }
    .pt-tab-panels {
        width: 100%;
    }
    .pt-tab-label {
        display: block;
    }
}

.pt-tabs-top {
    .pt-tab-labels {
        border-bottom: 1px solid #ededed;
    }
}

.pt-tabs-bottom {
    .pt-tab-labels {
        border-top: 1px solid #ededed;
    }
}

.pt-tabs-left {
    .pt-tab-labels {
        border-right: 1px solid #ededed;
    }
}

.pt-tabs-right {
    .pt-tab-labels {
        border-left: 1px solid #ededed;
    }
}
