@import './vars.scss';
@import './mixins/common.scss';
.pt-tabs {
    display: block;
    margin-bottom: 15px;
}

.pt-tabs-labels {
    display: block;
}

.pt-tab-label {
    display: inline-block;
    padding: 10px 15px;
    &:not(.distabled) {
        cursor: pointer;
    }
}

.pt-tabs-labels {
    display: table;
    width: 100%;
}

.pt-tabs-slot {
    display: inline-block;
}

.pt-tabs-labels-left,
.pt-tabs-labels-center,
.pt-tabs-labels-right,
.pt-tabs-overflow-prev,
.pt-tabs-overflow-content,
.pt-tabs-overflow-next,
.pt-tabs-labels-begin,
.pt-tabs-labels-body,
.pt-tabs-labels-end {
    white-space: nowrap;
    display: table-cell;
}

.pt-tabs-overflow-content,
.pt-tabs-labels-body {
    width: 100%;
    overflow: hidden;
}

.pt-tabs-top {
    .pt-tabs-labels-left,
    .pt-tabs-labels-center,
    .pt-tabs-labels-right {
        vertical-align: bottom;
    }
}

.pt-tabs-bottom,
.pt-tabs-left,
.pt-tabs-right {
    .pt-tabs-labels-left,
    .pt-tabs-labels-center,
    .pt-tabs-labels-right {
        vertical-align: top;
    }
}

.pt-tabs-labels-center {
    width: 100%;
    overflow: hidden;
}

.pt-tabs-overflow {
    display: table;
    width: 100%;
}

.pt-tabs-labels-core {
    position: relative;
    overflow: hidden;
    display: table;
    width: 100%;
}

.pt-tabs-slider {
    position: absolute;
    background: $primary;
    transition: all .3s ease-in-out;
}

.pt-tabs-labels-core {
    transition: all .3s ease-in-out;
}

.pt-tabs-overflow-vertical {
    display: block;
    .pt-tabs-overflow-prev,
    .pt-tabs-overflow-next,
    .pt-tabs-btn-prev,
    .pt-tabs-btn-next,
    .pt-tabs-overflow-content {
        display: block;
    }
}

.pt-tabs-btn-prev,
.pt-tabs-btn-next {
    @include btn-none;
    display: inline-block;
    vertical-align: middle;
    padding: 10px;
    cursor: pointer;
    &::before {
        content: '';
        display: inline-block;
        width: 15px;
        height: 15px;
        border-width: 1px;
        border-style: solid;
    }
}

.pt-tabs-btn-prev:before {
    border-color: $primary transparent transparent $primary;
    transform: rotate(-45deg);
}

.pt-tabs-btn-next:before {
    border-color: $primary $primary transparent transparent;
    transform: rotate(45deg);
}

.pt-tab {
    display: none;
    padding: 15px;
    &.active {
        display: block;
    }
}

.pt-tabs-left,
.pt-tabs-right {
    display: table;
    width: 100%;
    .pt-tabs-panels,
    .pt-tabs-nav {
        display: table-cell;
        white-space: nowrap;
        vertical-align: top;
    }
    .pt-tabs-panels {
        width: 100%;
    }
    .pt-tab-label {
        display: block;
    }
    .pt-tabs-slider {
        width: 5px;
    }
}

.pt-tabs-top,
.pt-tabs-bottom {
    .pt-tabs-slider {
        height: 5px;
    }
}

.pt-tabs-top {
    .pt-tabs-nav {
        border-bottom: 1px solid #ededed;
    }
    .pt-tabs-slider {
        bottom: 0;
    }
}

.pt-tabs-bottom {
    .pt-tabs-nav {
        border-top: 1px solid #ededed;
    }
    .pt-tabs-slider {
        top: 0;
    }
}

.pt-tabs-left {
    .pt-tabs-nav {
        border-right: 1px solid #ededed;
    }
    .pt-tabs-slider {
        right: 0;
    }
}

.pt-tabs-right {
    .pt-tabs-nav {
        border-left: 1px solid #ededed;
    }
    .pt-tabs-slider {
        left: 0;
    }
}
